body{
    background-image: url(/Imagenes/apoya2_19052022.jpg);
    backdrop-filter: blur(10px);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.fondo{
    text-align: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}

.todotarjeta{
    display: flex;
}

.todotarjeta2{
    display: flex;
}

h1{
    color: white;
}

h2{
    color: white;
}

.card{
    margin: 20px;
    border-radius: 10px;
}

img {
    filter: blur (10px);
}


.pie{
    background: #227d16;
}
img{
    width: 40px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px
}
span{
    font-size: 23px;
}
.fb{
    background: rgb(0, 81, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.tw{
    background: rgb(0, 140, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.ins{
    background: rgb(255, 0, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.you{
    background: rgb(255, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.cabeza{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.logo{
    font-size: 18px;
    color: white;
}
.seccion{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.seccion div{
    display: flex;
    flex-direction: column;
}
div h2{
    color: white;
    padding: 10px 0;
}
a{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    background: none;
    border: solid 2px white;
    padding: 10px 20px;
}
button{
    padding: 10px 20px;
    background: white;
    color: blueviolet;
    font-size: 18px;
}
.derechos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0a0433;
    color: white;
}